<% case session[:access_log]["ap_type"] %>
<% when "aruba" %>
  <form id="aruba_form" method="POST" action="https://securelogin.arubanetworks.com/swarm.cgi">
    <input type="hidden" name="user" value="<%= CaptivePortal::Application.config.ap_config[:aruba][:user] %>">
    <input type="hidden" name="password" value="<%= CaptivePortal::Application.config.ap_config[:aruba][:password] %>">
    <input type="hidden" name="cmd" value="authenticate">
    <input type="submit" name=”Login", value=”Login">
  </form>
  <script>
    var f = document.getElementById('aruba_form');
    f.style.display = 'none';
    f.submit();
  </script>
<% end %>
