<% if session[:access_log]["agreement"] == "accept" %>
ログイン方法を選択してください．
<ul>
<li><%= link_to 'Facebook', auth_path(provider: 'facebook', origin: ap_auth_handler_path) %></li>
<li><%= link_to 'Twitter', auth_path(provider: 'twitter', origin: ap_auth_handler_path) %></li>
<li><%= link_to 'Google', auth_path(provider: 'google_oauth2', origion: ap_auth_handler_path) %></li>
</ul>
<% else %>
<p>利用規定にご承諾いただけない場合はサービスはご利用いただけません．</p>
<%= link_to '利用規定に戻る', new_agreement_path %>
<% end %>
